<footer>
  <div class="container">
    <div class="col-sm-2 hidden-xs">
      <div>
        <a href="http://www.centralparknyc.org" target="_blank"><img class="footerLogo1" src="http://cpc.convio.net/redesign/img/cpc/cpcandtexticons.png"></a>
      </div>
      <a href="http://www.centralparknyc.org" target="_blank">
      </a></div>
    <a href="http://www.centralparknyc.org" target="_blank">


    </a>

    <div class="col-md-8"><a href="http://www.centralparknyc.org" target="_blank">
    </a>

      <div id="footercenter" class="footerLink"><a href="http://www.centralparknyc.org" target="_blank">
      </a>

        <p><a href="http://www.centralparknyc.org" target="_blank">
        </a><a href="http://www.centralparknyc.org/about/about-cpc/">About Us</a>
          <a href="http://www.centralparknyc.org/about/about-cpc/press.html">Press</a>
          <a href="http://www.centralparknyc.org/support/corporate-giving/
">Partners</a>
          <a href="http://www.centralparknyc.org/about/about-cpc/job-opportunities.html">Jobs</a>
          <a href="http://www.centralparknyc.org/about/about-cpc/privacy-policy.html">Privacy Policy</a>
          <a href="https://secure2.convio.net/cpc/admin/AdminLogin?NEXTURL=https%3A%2F%2Fsecure2.convio.net%2Fcpc%2Fadmin%2FAdminHomePage">Admin</a>
          <a href="https://secure2.convio.net/cpc/site/ConsProfileUser">Your Preferences</a>
          <a href="http://www.centralparknyc.org/about/contact-us.html">Contact Us</a>
        </p>

        <p class="footerAddress">Central Park Conservancy, 14 E. 60th St, New York, NY, 10022&nbsp;&nbsp;Phone:
          212.310.6600<br>
          ©2014, Central Park Conservancy. All Rights Reserved.</p>
      </div>
    </div>

    <div class="col-sm-2 hidden-xs">
      <div>
        <a href="http://search.newyork.bbb.org/reports.aspx?action=search2&amp;page=0&amp;cid=235&amp;Name=central+park&amp;Region=Any&amp;Category=Any&amp;letter=&amp;Ranking=&amp;meetLetter=m" target="_blank"><img class="footerLogo2" src="http://cpc.convio.net/redesign/img/cpc/bbbicons.png"></a>
      </div>
    </div>
  </div>
</footer>