<div class="contentDiv">
  <div class="container">
    <div class="row content-utilities" id="whistle_blower_form">
      <div class="col-sm-12 text-center">
        <h3>Central Park Conservancy Whistleblower Submission</h3>

        <p>This form was created with the express purpose of allowing anonymous reporting of suspected violations of law
          or other misconduct by Central Park Conservancy staff, administration or volunteers.</p>

        <p>This website does not track your location or account information, and will be submitted using an anonymous
          e-mail account. The information reported will be sent directly to the Human Resource Department.</p>
      </div>
      <div class="col-sm-12">
        <%= simple_form_for @whistle_blower_single, :html => {:class => 'form-horizontal'} do |f| %>
          <%= f.input :message, :as => :text, :required => true, :input_html => {rows: 5, class: "form-control"}, label: "Description:" %>
          <div class="hidden">
            <%= f.input :nickname, :hint => 'Leave this field blank!' %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, 'Send', :class => "Button" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>