<div role="navigation" class="navbar navbar-cpc navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <button data-target="#primaryNav" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://www.centralparknyc.org/" class="navbar-brand2"><img src="http://cpc.convio.net/redesign/img/cpc/websitecornerlogo_2014.jpeg"></a>
      <div class="navbar-right">
        <div class="navbar-text navbar-left navbar-cpc-top hidden-xs"><a href="http://www.centralparknyc.org/about/about-cpc/" class="navbar-link">ABOUT THE CONSERVANCY</a></div>
        <div id="followTrigger" class="navbar-text navbar-cpc-top navbar-left dropdown hidden-xs"><a href="#" data-toggle="dropdown" class="navbar-link dropdown-toggle">FOLLOW US <span class="glyphicon glyphicon-plus plusIcon"></span></a>
          <div class="followUs dropdown-menu dropdown-menu-right" id="follow-nav">
            <div>Visit Us On
              <a target="_blank" href="https://www.facebook.com/centralparknyc" onclick="ga('send', 'event', 'SocialMedia', 'HoverClick', 'Facebook');"><img alt="Facebook" src="http://cpc.convio.net/redesign/img/cpc/facebook.png"></a>
              <a target="_blank" href="https://twitter.com/CentralParkNYC" onclick="ga('send', 'event', 'SocialMedia', 'HoverClick', 'Twitter');"><img alt="Twitter" src="http://cpc.convio.net/redesign/img/cpc/twitter.png"></a>
              <a target="_blank" href="http://www.pinterest.com/centralparknyc/" onclick="ga('send', 'event', 'SocialMedia', 'HoverClick', 'Pinterest');"><img alt="Pinterest" src="http://cpc.convio.net/redesign/img/cpc/pinterest.png"></a>
            </div>

            <div id="emailFollowUs">
              <form action="javascript:void(0);" method="post" name="register" class="emailFollowUs">
                <input type="hidden" name="cons_info_component" value="t">
                <input type="hidden" name="cons_mail_opt_in" value="t">
                <input type="hidden" name="ACTION_SUBMIT_SURVEY_RESPONSE" value="Submit Survey">
                Get Email Updates<input class="primaryEmail emailShareInput" maxlength="40" name="cons_email" onblur="if(this.value == '') this.value='Your Email'" onfocus="if(this.value == 'Your Email') this.value = '';" size="13" type="text" value="Your Email">
                <span class="glyphicon glyphicon glyphicon-play arrowFollow clickable submitButton"></span>
                <input type="hidden" name="s_src" value="website">
                <input type="hidden" name="s_subsrc" value="2014_followBox">
                <input type="hidden" name="denySubmit" value="" alt="This field is used to prevent form submission by scripts.">
                <input type="hidden" name="SURVEY_ID" value="2621">
              </form>
              <div class="noteBox">&nbsp;</div>
            </div>
          </div>
        </div>
        <!--login box -->
        <div class="navbar-text navbar-cpc-top navbar-left hidden-xs">
          <div id="convio-content-515138570" style="display: inline;">











            <!-- Standard dependencies for embedded COM content -->
            <link rel="stylesheet" type="text/css" href="http://support.centralparknyc.org/css/FunctionalStyles.css">
            <script type="text/javascript" src="http://support.centralparknyc.org/yui3/yui/yui-min.js"></script>
            <script type="text/javascript" src="http://support.centralparknyc.org/js/utils.js"></script>
            <script type="text/javascript" src="http://support.centralparknyc.org/js/convio/modules.js"></script>
            <script type="text/javascript">
              var Y;
              if (!Y) {
                Y = YUI({
                  base: 'http://support.centralparknyc.org/yui3/',
                  debug: false,
                  modules: getModules('http://support.centralparknyc.org/','convio',false)
                });
              }
            </script>


            <!-- this person is not logged in -->
            <div id="login_box">
              <div class="login">
                <a class="navbar-link" href="http://support.centralparknyc.org/site/UserLogin?NEXTURL=http%3A%2F%2Fwww.centralparknyc.org%2Fabout%2Fcontact-us.html">LOG IN</a> <span style="color:#77BD42;">| </span> <a href="http://www.centralparknyc.org/cpc-registration.html" class="navbar-link">REGISTER</a>
              </div>
            </div>
            <!-- end unknown user -->

            <!-- added for SF 502318
            NEXTURL =
            AffiliateSecCatId =
            src =
            user_name =
            -->



          </div>
        </div>
        <div id="orangeDonate" class="navbar-text navbar-cpc-top navbar-left"><a href="https://secure2.convio.net/cpc/site/SPageServer?pagename=donate&amp;s_src=website&amp;s_subsrc=website_OrangeButton" class="navbar-link">DONATE</a></div>
      </div>
    </div>
    <div class="jumbotron text-center hidden-xs">
      <a href="http://www.centralparknyc.org/" class="titleLink"><h3>Official Website of New York City's</h3>
        <h1>Central Park</h1></a>
    </div>
    <div class="navbar firstnav hidden-xs" id="primaryNav">
      <ul class="nav navbar-nav knockout">
        <!-- =======================MAIN NAVBAR ================================== -->
        <li class="firstnav-li secondTrigger">
          <a class="" href="http://www.centralparknyc.org/about/">ABOUT</a>
          <div class="secondnav-arrow"><div class="dropdown-arrow"></div></div>
          <div class="navbar secondnav">
            <ul class="nav navbar-nav">
              <li class="hidden-md hidden-lg"><a href="http://www.centralparknyc.org/about/">About</a></li>
              <li><a href="http://www.centralparknyc.org/about/park-information/">Park Information</a></li>
              <li><a href="http://www.centralparknyc.org/about/programs/">Programs</a></li>
              <li><a href="http://www.centralparknyc.org/about/history.html">History</a></li>
              <li><a href="http://www.centralparknyc.org/about/about-cpc/">About the Conservancy</a></li>
              <li><a href="http://www.centralparknyc.org/about/about-cpc/institute-for-urban-parks.html">Institute</a></li>
              <li><a href="http://www.centralparknyc.org/support/corporate-giving/">Partners</a></li>
              <li><a href="http://www.centralparknyc.org/about/faq.html">FAQ</a></li>
              <li><a href="http://www.centralparknyc.org/about/contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </li>
        <li class="firstnav-li firstnav-wider-li"><a href="http://www.centralparknyc.org/things-to-see-and-do/">THINGS TO SEE &amp; DO</a></li>
        <li class="firstnav-li"><a href="http://www.centralparknyc.org/events/">EVENTS</a></li>
        <li class="firstnav-li"><a href="http://www.centralparknyc.org/maps/">MAPS</a></li>
        <li class="firstnav-li secondTrigger">
          <a class="" href="http://www.centralparknyc.org/tours/">TOURS</a>
          <div class="secondnav-arrow"><div class="dropdown-arrow"></div></div>
          <div class="navbar secondnav">
            <ul class="nav navbar-nav toursNav">
              <li class="hidden-md hidden-lg"><a href="http://www.centralparknyc.org/tours/">Tours</a></li>
              <li><a href="http://www.centralparknyc.org/tours/guided-tours/">Guided Tours</a></li>
              <li><a href="http://www.centralparknyc.org/tours/guided-tours/custom-tours.html">Custom &amp; Group Tours</a></li>
              <li><a href="http://www.centralparknyc.org/tours/self-guided/">Self-Guided Tours</a></li>
              <li><a href="http://www.centralparknyc.org/tours/self-guided/virtual-tour.html">Virtual Tour</a></li>
              <li><a href="http://www.centralparknyc.org/tours/self-guided/audio-guide.html">Audio Guide</a></li>
              <li><a href="http://www.centralparknyc.org/tours/self-guided/mobile-app.html">Central Park App</a></li>
            </ul>
          </div>
        </li>
        <li class="firstnav-li"><a href="http://www.centralparknyc.org/shop/">SHOP</a></li>
        <li class="firstnav-li secondTrigger">
          <a href="http://www.centralparknyc.org/support/">SUPPORT US</a>
          <div class="secondnav-arrow"><div class="dropdown-arrow"></div></div>
          <div class="navbar secondnav">
            <ul class="nav navbar-nav supportNav">
              <li class="hidden-md hidden-lg"><a href="http://www.centralparknyc.org/support/">Support</a></li>

              <li><a href="https://secure2.convio.net/cpc/site/SPageServer?pagename=membership&amp;s_src=website&amp;s_subsrc=RD_join_renew_mainnav">Join/Renew</a></li>
              <li><a href="http://support.centralparknyc.org/site/Donation2?df_id=3320&amp;3320.donation=form1&amp;s_src=website&amp;s_subsrc=RD_honmem_mainnav">Honor/Memorial</a></li>
              <li><a href="https://secure2.convio.net/cpc/site/SPageServer?pagename=donate&amp;s_src=website&amp;s_subsrc=RD_donate_mainnav">Donate</a></li>
              <li><a href="http://www.centralparknyc.org/support/volunteer/">Volunteer</a></li>
              <li><a href="http://www.centralparknyc.org/about/about-cpc/womens-committee/">Women's Committee</a></li>
              <li><a href="http://www.centralparknyc.org/support/benefit-events/">Benefit Events</a></li>
              <li><a href="http://www.centralparknyc.org/support/corporate-giving/">Corporate Giving</a></li>
            </ul>
          </div>
        </li>

        <!--SEARCH BOX-->
        <li class="firstnav-li firstnav-wider-li">
          <form class="nav navbar-form" id="searchForm" name="searchForm" method="get" action="http://support.centralparknyc.org/site/Search">
            <div class="form-group">
              <!--<span class="glyphicon glyphicon-search searchIcon"></span>-->
              <input type="search" class="form-control" name="query" placeholder="Search" result="6">
              <input class="searchButton" name="submit" type="image" src="http://cpc.convio.net/redesign/img/cpc/icon-magnifying-glass.png" id="submit" title="Search">
            </div>
          </form>
        </li>
      </ul>
      <!-- =======================END MAIN NAVBAR ================================== -->
    </div>
  </div>
</div>