<div class="contentDiv">
  <div class="sectionToggle">
    <button data-target=".left-nav" data-toggle="collapse" class="navbar-toggle knockout hidden-md hidden-lg">
      <span id="breadLink">About</span><span class="caret"></span></button>
  </div>

  <div class="container">
    <div class="row two-column-content">
      <div class="col-md-3 left-nav knockout collapse navbar-collapse">
        <!-- begin section nav -->
        <div id="sectionNavigation-497998852" style="display: inline;">


          <ul id="subnav">


            <li class="subMenu"><a href="http://www.centralparknyc.org/about/park-information/">Park Information</a>


              <ul>


                <li>
                  <a href="http://www.centralparknyc.org/about/park-information/rules-and-regulations.html">Rules &amp;
                    Regulations</a></li>


                <li><a href="http://www.centralparknyc.org/about/park-information/places-to-eat.html">Eat</a></li>


                <li><a href="http://www.centralparknyc.org/about/park-information/restrooms.html">Restrooms</a></li>


                <li><a href="http://www.nycgovparks.org/accessibility" class="external">Accessibility</a></li>


                <li>
                  <a href="http://www.centralparknyc.org/about/park-information/filming-and-photography.html">Film &amp;
                    Photo
                    Shoots</a></li>


                <li><a href="http://www.centralparknyc.org/about/park-information/weddings.html">Weddings</a></li>


                <li>
                  <a href="http://www.centralparknyc.org/about/park-information/dogs.html">Dogs (Central Park Paws)</a>
                </li>


              </ul>
            </li>


            <li class="subMenu"><a href="http://www.centralparknyc.org/about/programs/">Programs</a>


              <ul>


                <li><a href="http://www.centralparknyc.org/about/programs/member-programs.html">Member Programs</a></li>


                <li><a href="http://www.centralparknyc.org/about/programs/youth-programs.html">Youth Programs</a></li>


                <li><a href="http://www.centralparknyc.org/about/programs/sports-and-recreation.html">Sports,
                  Recreation, &amp;
                  Fitness</a></li>


                <li><a href="http://www.centralparknyc.org/about/programs/central-park-circuit.html">Central Park
                  Circuit</a></li>


                <li><a href="http://www.centralparknyc.org/about/programs/horticulture-programs.html">Horticulture
                  Programs</a></li>


              </ul>
            </li>


            <li class="inSameFolder"><a href="http://www.centralparknyc.org/about/history.html">History</a></li>


            <li class="subMenu"><a href="http://www.centralparknyc.org/about/about-cpc/">About the Conservancy</a>


              <ul>


                <li><a href="http://www.centralparknyc.org/about/about-cpc/management-board/">Management &amp; Board</a>
                </li>


                <li><a href="http://www.centralparknyc.org/about/about-cpc/governance-overview.html">Governance
                  Overview </a></li>


                <li><a href="http://www.centralparknyc.org/about/about-cpc/womens-committee/">Women's Committee</a></li>


                <li>
                  <a href="http://www.centralparknyc.org/about/about-cpc/financial-legal-information.html">Financial &amp;
                    Legal
                    Info</a></li>


                <li><a href="http://www.centralparknyc.org/about/about-cpc/annual-reports.html">Annual Reports</a></li>


                <li><a href="http://www.centralparknyc.org/about/about-cpc/job-opportunities.html">Jobs</a></li>


                <li><a href="http://www.centralparknyc.org/about/about-cpc/donor-relations-policy.html">Donor Relations
                  Policy</a>
                </li>


              </ul>
            </li>


            <li>
              <a href="http://www.centralparknyc.org/about/about-cpc/institute-for-urban-parks.html">Institute for Urban
                Parks</a>
            </li>


            <li class="inSameFolder"><a href="http://www.centralparknyc.org/about/faq.html">FAQ</a></li>


            <li class="active"><a href="http://www.centralparknyc.org/about/contact-us.html">Contact Us</a></li>


          </ul>

        </div>

        <!--div class=templateComponent id="sectionNavigation-167468350" style="DISPLAY: inline"></div-->
        <!-- end section nav -->
      </div>

      <div class="col-md-9 right-content">
        <div class="row content-utilities" id="whistle_blower_form">
          <h1>Whistle Blowing</h1>

          <div class="col-sm-6 col-sm-offset-3">
            <%= simple_form_for @contact, :html => {:class => 'form-horizontal'} do |f| %>
              <%= f.input :message, :as => :text, :required => true, :input_html => {rows: 5, cols: 50}, label: "Please enter your message below" %>
              <div class="hidden">
                <%= f.input :nickname, :hint => 'Leave this field blank!' %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, 'Send', :class => "Button" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>